<div class="navbar">
    <div class="leftSection">
        <div class="logo">
            <img src="../../../assets/icone pequeno.png" alt="">
            <p class="logotext">USHARE</p>
        </div>
    </div>
    <div class="centerSection">
        <div class="feedIcon" (click)="openFeed()">
            <fa-icon [icon]="faRss" class="iconP"  ></fa-icon>
            <p>Feed</p>
            <div class="underline"></div>
        </div>
        <div class="friendsIcon"  (click)="openartg()">
            <fa-icon [icon]="faArtigo" class="iconP" ></fa-icon>
            <p >Meus artigos</p>
            <div class="underline"></div>
        </div>
        <div class="aboutIcon">
            <fa-icon [icon]="faAboutUs" class="iconP" ></fa-icon>
            <p >Sobre Nós</p>
            <div class="underline"></div>
        </div>
    </div>
    <div class="rightSection">

        <div class="Icons">
            <img src="assets/search-icon-icon.svg" alt="" class="IconS" (click)="opensearch()" />
            <img src="assets/logout-icon.svg" alt="" class="IconLg" (click)="handleLogoutClick()" />
        </div>

        <div class="profilePhoto">
            <p>Name of the person </p>
        </div>

        <fa-icon [icon]="faHamb" class="iconHamb" (click)="openNav()"></fa-icon>
    </div>
    <div #mySidenav class="sidenav">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
        <a href="/feed">Feed</a>

        <p> Sobre nós</p>
        <p > Logout</p>
    </div>
</div>
