<!-- popup.component.html -->
<div class="popup">

    <h2 class="anucio">Publique o seu anúncio</h2>

    <div class="line"></div>

    <input type="text" class="postTitle" placeholder="     Titulo"/>

    <input type="text" class="postType" placeholder="     Tipo de anúncio" />

    <input class="postDescription" placeholder="   Descrição"/>

    <button class="anexar" (click)="attachImage()">Anexar Imagem</button>

    <button class="publicar" (click)="publishPost()">Publicar</button>
</div>
