<!-- popup.component.html -->
<div class="popup">

    <div class="texto-botaox">
        <h2 class="anuncio">Publique o seu anúncio</h2>
        <img (click)="close()" src="../../../assets/fechar.svg" width="20px" alt="">
    </div>

    <div class="line"></div>

    <div class="espacamento">

        <input type="text" class="postTitle" placeholder="Titulo"/>
    
        <input type="text" class="postType" placeholder="Tipo de anúncio" />
    
        <textarea class="postDescription" placeholder="Descrição"></textarea>
    
        <button class="anexar" (click)="attachImage()">Anexar Imagem</button>
    
        <button class="publicar" (click)="publishPost()">Publicar</button>
    </div>

</div>
