<div class="navbar">
    <div class="leftSection">
        <div class="logo">
            <img src="../../../assets/icon castanho.svg" alt="">
            <p class="logotext">USHARE</p>
        </div>
    </div>
    <div class="centerSection">
        <div class="feedIcon" [class.active]="isFeedActive" (click)="toggleFeed()">
            <fa-icon [icon]="faRss" class="iconRss"></fa-icon>
            <p>Feed</p>
            <div class="underline"></div>
        </div>
        <div class="friendsIcon" [class.active]="!isFeedActive" (click)="toggleArtigos()">
            <img src="assets/vector-icon.svg" class="iconP"/>
            <p>Meus artigos</p>
            <div class="underline"></div>
        </div>
    </div>
    <div class="rightSection">
        <div class="Icons">
            <img src="assets/search-icon-icon.svg" alt="" class="IconS" (click)="handleSearchClick()" />
            <img src="assets/chat-icon-icon.svg" alt="" class="IconMsg" (click)="handleChatClick()" />
            <img src="assets/logout-icon.svg" alt="" class="IconLg" (click)="handleLogoutClick()" />
        </div>
        <div class="profilePhoto">
            <p>Name of the person </p>
        </div>
    </div>
</div>
<div class="content">
    <div class="meusartigos">
        <div class="box">
            <img src="assets/vector-icon.svg" class="iconPx"/>
            <h2>Meus Artigos</h2>
        </div>
    
        <div class="friends">
            <div class="col-f">
                <img src="assets/users-icon.svg" class="iconU"/>
                <h3>Conexões</h3>
                <p>(nº)</p>
            </div>
        </div>
    </div>
    <div class="posts" [class.active]="isFeedActive">
        <div class="searchbar">
            <input type="text" placeholder="Solicite ou disponibilize um recurso ...">
            <div class="btnenv">
                <div class="botaoEnviar"></div>
                <div class="send">
                    <img src="assets/send-icon.svg" alt="" class="icon19" />
                </div>
            </div>

            <div class="clip">
                <div class="ellipse122">
                    <img src="assets/ellipse-12-icon.svg" alt="" class="icon38" />
                </div>
                <div class="paperClipOutline">
                    <img src="assets/paperclipoutline-icon.svg" alt="" class="icon39" />
                </div>
            </div>
        </div>

        <div class="post-container">
            <div class="post">
                <div class="post-header">
                    <div class="profile-photo">
                        <img src="assets/ellipse-1-icon.svg" alt="Profile Photo">
                    </div>
                    <div class="post-author">
                        <p>Name of the Person</p>
                    </div>
                </div>
                <div class="line10"></div>
                <p>Quem tiver um carro igual a este pfv contacte-me</p>
                <div class="post-content">
                    <img src="assets/rectangle30.jpeg" alt="carpic">
                </div>
                <div class="line11"></div>
            </div>
        </div>
    </div>
</div>